html{
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: rgb(27, 126, 32);
    color: white;
    padding: 3rem 2rem;
}
/*Centrar texto*/
header h1{
    font-size: 4rem;
    text-align: center;
}

.tema_principal h2{
    font-size: xx-large;
    text-shadow: 0.1rem 0.1rem 0.2em #6b6262f6;
}
/* Centrar los containers*/
.container{
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section article h2 , section article p{
    margin: 1rem;
}
/*Generar sombra al pasar el cursor*/
section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.5);
}

.tema_principal section article:hover{
    box-shadow: 0 0.2rem 0.5rem rgba(95, 91, 99, 0.74);
}

footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}
/*flotar del lado derecho, se puede utilizar para dividir los menús*/
footer section{
    float: right;
}

footer p{

    float: left;
    /* Se usa para hacer una transicion del color que dure 0.5s del tipo ease*/
    transition: color 0.5s ease;
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color: #fff;
    /* Con esto se puede quitar el subrayado de los links*/
    text-decoration: none;
}

/*Con esto se puede cambiar el estado de un objeto al poner el cursos encima sin dar click*/
footer a:hover{
    color: aqua;
}

footer p:hover{
    color: red;
}